
html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}   
   

   /* Globales */
.contenedor{
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}
   
   /* Header */

.site-header.inicio{
    background-image: url(img/header.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    min-height: 60rem;

}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navegacion a:hover{
    color: #71B100;
}
.navegacion a:last-of-type{
    margin: 0px;
}